h1 {
  text-align: center;
}
.game-field {
  display: flex;
  flex-wrap: wrap;
  flex: 0;
  max-width: 600px;
  margin: 0 auto;
}
.game-panel {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  > * {
    margin-right: 10px;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.square {
  position: relative;
  width: calc(25% - 10px);
  padding-bottom: calc(25% - 10px);
  border: 5px solid white;
  -webkit-perspective: 800;
  cursor: pointer;
  &.visible {
    .square__wrapper {
      transform: rotateX(-180deg);
    }
  }
  &__wrapper {
    transition: 300ms ease;
    transform-style: preserve-3d;
  }
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  &__front {
    background-color: lightgray;
  }
  &__back {
    transform: rotateX(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@import 'star';

.star-rating {
  text-align: center;
}
.time-rating {
  text-align: center;
}
.popup {
  padding: 30px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  &.hidden {
    display: none;
  }
}
.popup {
  max-width: 100%;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
